@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SurveyUs.Web.Areas.Admin.Models.QuestionCategoryViewModel>

<table class="table table-striped" id="categoryTable">
    <thead>
        <tr>
            <th>
                @localizer["Category Name"]
            </th>
            <th>
                @localizer["Created On"]
            </th>
            <th>
                @localizer["Created By"]
            </th>
            <th style="width:10%">
                @localizer["Actions"]
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
        }
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @category.CategoryName
                </td>
                <td>
                    @category.CreatedOn
                </td>
                <td>
                    @category.CreatedBy
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            @*  <a onclick="jQueryModalGet('/admin/campaign/OnGetCreateOrEdit?id=@campaign.Id','Edit Campaign')" class="dropdown-item">
                        <i class="fas fa-pencil-alt"></i> @localizer["Edit"]
                        </a>
                        <form id="form_delete_@campaign.Id" asp-controller="Campaign" method="post" asp-action="OnPostDelete" asp-route-id="@campaign.Id" onsubmit="return jQueryModalDelete(this)" class="d-inline">
                        <a href="javascript:$('#form_delete_@campaign.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i> @localizer["Delete"]</a>
                        </form>
                        <form id="form_activate_@campaign.Id" asp-area="Admin" asp-controller="Campaign" method="post" asp-action="OnPostActivate" asp-route-id="@campaign.Id" asp-route-isActivate="@campaign.IsActive">
                        <a href="javascript:$('#form_activate_@campaign.Id').submit();" class="dropdown-item">
                        @if (campaign.IsActive)
                        {
                        <i class="fas fa-user-check"></i> @localizer["Deactivate Campaign"]
                        }
                        else
                        {
                        <i class="fas fa-user-check"></i> @localizer["Activate Campaign"]
                        }
                        </a>
                        </form> *@
                        </div>
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#categoryTable").DataTable({
            searching: true
        });
    });
</script>