@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SurveyUs.Domain.Enums
@model IEnumerable<SurveyUs.Web.Areas.Admin.Models.CampaignSettingViewModel>
<table class="table table-striped" id="campaignTable">
    <thead>
        <tr>
            <th>
                @localizer["No."]
            </th>
            <th>
                @localizer["Name"]
            </th>
            <th>
                @localizer["Start Date"]
            </th>
            <th>
                @localizer["End Date"]
            </th>
            <th>
                @localizer["Status"]
            </th>
            <th style="width:10%">
                @localizer["Actions"]
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1; 
        }
        @foreach (var campaign in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @campaign.Name
                </td>
                <td>
                    @campaign.StartDate.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @campaign.EndDate.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @{
                        switch (campaign.Status)
                        {
                            case StatusEnum.Active:
                                <span class="badge badge-success">Active</span>
                                break;
                            case StatusEnum.Inactive:
                                <span class="badge badge-danger">Inactive</span>
                                break;
                            case StatusEnum.Expired:
                                <span class="badge badge-secondary">Expired</span>
                                break;
                        }
                    }
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' asp-area="Admin" asp-controller="CampaignMapping" asp-action="Index" asp-route-campaignId="@campaign.Id" class="dropdown-item">
                                <i class="fas fa-eye"></i> @localizer["Store Mappings"]
                            </a>

                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <a style='margin-right:16px' onclick="jQueryModalGet('/admin/campaignsetting/OnGetQuestionMapping?campaignId=@campaign.Id','Create Mapping')" class="dropdown-item">
                                    <i class="fas fa-plus"></i> @localizer["Question Mappings"]
                                </a>
                            }

                            <a href="#" onclick="jQueryModalGet('/admin/campaignsetting/OnGetCreateOrEdit?id=@campaign.Id','Edit Campaign - @campaign.Name')" class="dropdown-item">
                                <i class="fas fa-pencil-alt"></i> @localizer["Edit Campaign"]
                            </a>

                            <a asp-area="Admin" asp-controller="UserSubmission" asp-action="Index" asp-route-campaignId="@campaign.Id" class="dropdown-item">
                                <i class="fas fa-file-alt"></i> @localizer["View Submissions"]
                            </a>
                            @* <form id="form_activate_@campaign.Id" asp-area="Admin" asp-controller="CampaignSetting" method="post" asp-action="OnPostActivate" asp-route-id="@campaign.Id" asp-route-isActivate="@campaign.IsActive">
                                <a href="javascript:$('#form_activate_@campaign.Id').submit();" class="dropdown-item">
                                    @if (campaign.Status == StatusEnum.Active)
                                    {
                                        <i class="fas fa-user-check"></i>
                                        @localizer["Deactivate Campaign"]
                                    }
                                    else
                                    {
                                        <i class="fas fa-user-check"></i>
                                        @localizer["Activate Campaign"]
                                    }
                                </a>
                            </form> *@
                        </div>
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#campaignTable").DataTable({
            searching: true
        });

    });
</script>